@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
    background-color: #F2F3F7;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  margin: 10px auto 30px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background-color: white;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-left: 2em;
}

nav .nav-links {
  margin-right: 2em;
}

.layout-container {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  background: #ef8374;
  color: white;
  border: 1px solid white;
}

.button_primary {
  color: white;
  background-color: #ef8374;
  border: 1px solid #ef8374;
  border-radius: .3rem;
  padding: .6rem 1.2rem;
}

.button_primary:hover {
  color: #ef8374;
  background-color: #fee3e2;
  border: 1px solid #ef8374;
  border-radius: .3rem;
  padding: .6rem 1.2rem;
  cursor: pointer;
}

.button_secondary {
  color: #ef8374;
  background-color: white;
  border: 1px solid #ef8374;
  border-radius: .3rem;
  padding: .6rem 1.2rem;
  margin-right: 1rem;
}

.button_secondary:hover {
  color: #ef8374;
  background-color: #fee3e2;
  border: 1px solid #ef8374;
  border-radius: .3rem;
  padding: .6rem 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.button_disabled {
  color: grey;
  background-color: white;
  border: 1px solid grey;
  border-radius: .3rem;
  padding: .6rem 1.2rem;
  margin-right: 1rem;
}

.button_remove {
  color: #FC796E;
  background-color: white;
  border: 1px solid #FC796E;
  border-radius: .4em;
  padding: .4rem;
}

.button_remove:hover {
  color: #FC796E;
  background-color: #fee3e2;
  border: 1px solid #FC796E;
  border-radius: .4em;
  padding: .4rem;
}

.buttonPlusMinus {
  color: #FC796E;
  background-color: white;
  border: 1px solid #FC796E;
  border-radius: .4em;
}

.buttonPlusMinus:hover {
  color: #FC796E;
  background-color: #fee3e2;
  border: 1px solid #FC796E;
  border-radius: .4em;
}

.custom-select {
  position: relative;
  font-family: Arial;
  background: #fee3e2;
  border-radius: .4em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 6px solid transparent;
  margin-left: 1em;
}

