.productsContainter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productsCard__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productsCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: white;
  border-radius: .4em;
  margin: 1em;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 15%;
  height: 250px;
}

@media only screen and (max-width: 768px) {
  .productsCard {
    width: 35%;
  }
}

@media only screen and (max-width: 425px) {
  .productsCard {
    width: 80%;
  }
}