.productContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.infoBar {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.back {
  align-self: flex-start;
  margin-left: 2em;
}

.product__confirmation {
  padding: 1em;
  margin: .5em;
  background-color: #ef8374;
  border-radius: .4em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: absolute;
  opacity: 0.8;
}

.product__confirmation_message {
  color: white;
}

.productCard {
  width: 600px;
  padding: 4em;
  margin: 2em;
  border-radius: .4em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
}

.productCard__sectionHeader {
  display: flex;
  justify-content: space-between;
}

.productCard__name {
  margin-right: 1em;
}

.productCard__brand {
  margin-left: 1em;
  color: grey;
}

.productCard__sectionMain {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.productCard__sectionColors {
  display: flex;
  margin-bottom: 1em;
}

.productCard__sectionColors_box {
  padding: 1em;
  margin-right: 1em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  margin-bottom: 1em;
}

